oannes-config/src/main/resources/META-INF/oannes.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<xsd:schema xmlns="http://code.jwcjlu.com/schema/oannes"  
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"  
    targetNamespace="http://code.jwcjlu.com/schema/oannes"  
    elementFormDefault="qualified" attributeFormDefault="unqualified">  
    <xsd:import namespace="http://www.springframework.org/schema/beans" />  
	<xsd:element name="annotation" type="annotationType">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ The annotation config ]]></xsd:documentation> 
		</xsd:annotation>
	</xsd:element> 
		<xsd:complexType name="annotationType">
		<xsd:attribute name="id" type="xsd:ID">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="basePackage" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The scan package. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:schema>   